{% extends 'base.html.twig' %}

 {% block body %}
{% for article in articles %}
    
<h3><a href="{{path ('blog_show', {'id' : article.id })}}"> {{article.title}}</a> </h3>
<p>{{article.content}}</p>

{% endfor %}
 {% endblock %}
 