{% extends 'base.html.twig' %}

 {% block body %}
<h3>Titre blqblq</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A sint quod odit delectus nesciunt, atque eligendi quos commodi esse ut tempore dolore veritatis dolorem autem repellendus laudantium aliquam consectetur voluptatem.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In dolor voluptatum nihil voluptates incidunt fugiat quod voluptate eos soluta similique, accusantium officia aperiam vel est perspiciatis mollitia! Eveniet, sint corporis.</p>

 {% endblock %}
 